<div class="col-md-12">
    
    <div ng-show="forumCtrl.obj.currentUser._id === forumCtrl.obj.currentCard.creator._id">
    <label class="btn btn-primary btn-circle btn-xs pull-right" ng-click="forumCtrl.obj.remove(forumCtrl.obj.currentCardId)" style="margin-left:10px"><i class="glyphicon glyphicon-remove"></i></label>
    </div>

    <label class="btn btn-primary btn-xs pull-right" ui-sref="update({ id: forumCtrl.obj.currentCard._id })" style="margin-left:10px"><i class="glyphicon glyphicon-pencil"></i></label>

    <label class="btn btn-primary btn-xs pull-right" ng-click="forumCtrl.obj.controllView('cardVersions')"><i class="glyphicon glyphicon-sort-by-attributes"></i></label>

    <card info="forumCtrl.obj.currentCard"></card>

    <version info="version" ng-repeat="version in forumCtrl.obj.currentCard.versions" ng-if="forumCtrl.obj.cardVersions" controll-versions = "forumCtrl.obj.controllView(newVal)"></version>

</div>


<h1 class="text-center">Comments</h1>  <button class="btn btn-primary" ng-click="forumCtrl.obj.controllView('addComment')">Add Comments</button>

<div class="row">



<addcomment ng-if="forumCtrl.obj.addComment" represent-category="forumCtrl.obj.represent" controll-view="forumCtrl.obj.controllView(newVal)" create-comment="forumCtrl.obj.createComment(newVal, forumCtrl.obj.currentCard._id)"></addcomment>





<comment info="forumCtrl.obj.commentA[0]" category="'A'" filled="true" controll-view = "forumCtrl.obj.controllView(newVal)"></comment>
<comment info="comment" ng-repeat="comment in forumCtrl.obj.commentA" category="'A'"  ng-if="forumCtrl.obj.similarA" controll-view = "forumCtrl.obj.controllView(newVal)"></comment>

<comment info="forumCtrl.obj.commentB[0]" category="'B'" filled="true" controll-view = "forumCtrl.obj.controllView(newVal)"></comment>
<comment info="comment" ng-repeat="comment in forumCtrl.obj.commentB" category="'B'"  ng-if="forumCtrl.obj.similarB" controll-view = "forumCtrl.obj.controllView(newVal)"></comment>

<comment info="forumCtrl.obj.commentC[0]" category="'C'" filled="true" controll-view = "forumCtrl.obj.controllView(newVal)"></comment>
<comment info="comment" ng-repeat="comment in forumCtrl.obj.commentC" category="'C'"  ng-if="forumCtrl.obj.similarC" controll-view = "forumCtrl.obj.controllView(newVal)"></comment>

<comment info="forumCtrl.obj.commentD[0]" category="'D'" filled="true" controll-view = "forumCtrl.obj.controllView(newVal)"></comment>
<comment info="comment" ng-repeat="comment in forumCtrl.obj.commentD" category="'D'"  ng-if="forumCtrl.obj.similarD" controll-view = "forumCtrl.obj.controllView(newVal)"></comment>

<comment info="forumCtrl.obj.commentE[0]" category="'E'" filled="true" controll-view = "forumCtrl.obj.controllView(newVal)"></comment>
<comment info="comment" ng-repeat="comment in forumCtrl.obj.commentE" category="'E'"  ng-if="forumCtrl.obj.similarE" controll-view = "forumCtrl.obj.controllView(newVal)"></comment>

<comment info="forumCtrl.obj.commentF[0]" category="'F'" filled="true" controll-view = "forumCtrl.obj.controllView(newVal)"></comment>
<comment info="comment" ng-repeat="comment in forumCtrl.obj.commentF" category="'F'"  ng-if="forumCtrl.obj.similarF" controll-view = "forumCtrl.obj.controllView(newVal)"></comment>

</div>