<div class="col-md-12">
    
    <div ng-show="forumCtrl.obj.currentUser._id === forumCtrl.obj.currentCard.creator._id">
    <label class="btn btn-default btn-circle btn-xs pull-right" ng-click="forumCtrl.obj.remove(forumCtrl.obj.currentCardId)"><i class="glyphicon glyphicon-remove"></i></label>
    </div>

    <label class="btn btn-default btn-xs pull-right" ui-sref="update({ id: forumCtrl.obj.currentCard._id })" style="margin-right:10px"><i class="glyphicon glyphicon-pencil"></i></label>

    <label class="btn btn-default btn-xs pull-right" ng-click="forumCtrl.obj.controllCardVersions()"><i class="glyphicon glyphicon-sort-by-attributes" style="border-right:30px"></i></label>

    <card info="forumCtrl.obj.currentCard"></card>

    <version info="version" ng-repeat="version in forumCtrl.obj.currentCard.versions" ng-if="forumCtrl.obj.cardVersions" controll-versions = "forumCtrl.obj.controllCardVersions()"></version>

</div>



<h1 class="text-center">Comments</h1>

<div class="row">


<comment info="forumCtrl.obj.commentA[0]" category="'A'" filled="true" controll-similar = "forumCtrl.obj.controllSimilar(newVal)"></comment>
<comment info="comment" ng-repeat="comment in forumCtrl.obj.commentA" category="'A'"  ng-if="forumCtrl.obj.similarA" controll-similar = "forumCtrl.obj.controllSimilar(newVal)"></comment>

<comment info="forumCtrl.obj.commentB[0]" category="'B'" filled="true" controll-similar = "forumCtrl.obj.controllSimilar(newVal)"></comment>
<comment info="comment" ng-repeat="comment in forumCtrl.obj.commentB" category="'B'"  ng-if="forumCtrl.obj.similarB" controll-similar = "forumCtrl.obj.controllSimilar(newVal)"></comment>

<comment info="forumCtrl.obj.commentC[0]" category="'C'" filled="true" controll-similar = "forumCtrl.obj.controllSimilar(newVal)"></comment>
<comment info="comment" ng-repeat="comment in forumCtrl.obj.commentC" category="'C'"  ng-if="forumCtrl.obj.similarC" controll-similar = "forumCtrl.obj.controllSimilar(newVal)"></comment>

<comment info="forumCtrl.obj.commentD[0]" category="'D'" filled="true" controll-similar = "forumCtrl.obj.controllSimilar(newVal)"></comment>
<comment info="comment" ng-repeat="comment in forumCtrl.obj.commentD" category="'D'"  ng-if="forumCtrl.obj.similarD" controll-similar = "forumCtrl.obj.controllSimilar(newVal)"></comment>

<comment info="forumCtrl.obj.commentE[0]" category="'E'" filled="true" controll-similar = "forumCtrl.obj.controllSimilar(newVal)"></comment>
<comment info="comment" ng-repeat="comment in forumCtrl.obj.commentE" category="'E'"  ng-if="forumCtrl.obj.similarE" controll-similar = "forumCtrl.obj.controllSimilar(newVal)"></comment>

<comment info="forumCtrl.obj.commentF[0]" category="'F'" filled="true" controll-similar = "forumCtrl.obj.controllSimilar(newVal)"></comment>
<comment info="comment" ng-repeat="comment in forumCtrl.obj.commentF" category="'F'"  ng-if="forumCtrl.obj.similarF" controll-similar = "forumCtrl.obj.controllSimilar(newVal)"></comment>

</div>