
<div class="container">
	<div class="col-md-12">
		Host of ThisComment : {{commentVersions.o.currentComment.creator.name}}
	    <comment info="commentVersions.o.currentComment" style="border-bottom:100px" for-version="true"></comment>

	</div>

	<div ng-repeat="version in commentVersions.o.currentComment.versions">
		<div class="col-md-7">
			<div class="dropdown pull-right">
			  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">RemoveThisVersion
			  <span class="caret"></span></button>
			  <ul class="dropdown-menu">
			    <li><a class="btn" ng-click="commentVersions.o.controllVersion($index,-10, version.contributor._id)">악의적 훼손입니다(-10)</a></li>
			    <li><a class="btn" ng-click="commentVersions.o.controllVersion($index, -2, version.contributor._id)">논지와 많이 다릅니다(-2)</a></li>
			    <li><a class="btn" ng-click="commentVersions.o.controllVersion($index, -1, version.contributor._id)">논지와 조금 다릅니다(-1)</a></li>
			    <li><a class="btn" ng-click="commentVersions.o.controllVersion($index, 0, version.contributor._id)">단순히(+0)</a></li>
			  </ul>
			</div>
			<commentversion info="version" my-style="'testimonial testimonial-danger'"></commentversion>
		</div>
	</div>

</div>