<div class="container">
    <div class="row">
    <div class="col-xs-12 well">
        <form name="myForm" ng-submit="createOrUpdate({newVal: newCard})" novalidate>

        <label class="btn btn-default btn-circle btn-xs pull-right"><i class="glyphicon glyphicon-remove"></i></label>
        	
            <fieldset class="form-group">
            <label for="title">Prerequisite Title of Url(You can remake)</label>
            <textarea class="form-control" id="title" rows="1" maxlength="30" ng-model="newCard.prerequisite[0].title" placeholder="example:"></textarea>
            <small class="text-muted">List the ingredients used. Put each ingredient on a new line.</small> 
            </fieldset>

            <fieldset class="form-group">
            <label for="title">Prerequisite Title of Url(You can remake)</label>
            <textarea class="form-control" id="title" rows="1" maxlength="30" placeholder="example:">Something New</textarea>
            <small class="text-muted">List the ingredients used. Put each ingredient on a new line.</small> 
            </fieldset>

            <fieldset class="form-group">
            <label for="url">Prerequisite Url</label>
            <textarea class="form-control" id="url" rows="1" ng-model="newCard.prerequisite[0].url"></textarea> 
            <small class="text-muted">List the ingredients used. Put each ingredient on a new line.</small> 
            </fieldset>


            <fieldset class="form-group">
            <label for="title">Title of Your Idea</label>
            <textarea class="form-control" id="title" rows="1" ng-model="newCard.title" required></textarea> 
            <small class="text-muted">List the ingredients used. Put each ingredient on a new line.</small> 
            </fieldset>
        

            <fieldset class="form-group">
            <label for="idea">idea</label>
            <textarea class="form-control" id="idea" rows="3" ng-model="newCard.idea" required></textarea>
            <small class="text-muted">List the ingredients used. Put each ingredient on a new line.</small> 
            </fieldset>

            <fieldset class="form-group">
            <label for="title">Reference Title of Url(You can remake)</label>
            <textarea class="form-control" id="title" rows="1" maxlength="30" ng-model="newCard.link[0].title"></textarea>
            <small class="text-muted">List the ingredients used. Put each ingredient on a new line.</small> 
            </fieldset>        

            <fieldset class="form-group">
            <label for="url">Reference Url</label>
            <textarea class="form-control" id="url" rows="1" ng-model="newCard.link[0].url"></textarea> 
            <small class="text-muted">List the ingredients used. Put each ingredient on a new line.</small> 
            </fieldset>


            <button type="submit" class="btn btn-primary" name="save-recipe-button" value="save-recipe-button" ng-disabled="myForm.$invalid">ADD NEW CARD</button>
            <button type="submit" class="btn btn-info" name="save-new-recipe-button" value="save-new-recipe-button">Save as a New Recipe</button>
            <button type="submit" class="btn btn-danger"  name="delete-recipe-button" value="delete-recipe-button">Delete This Recipe</button> 
        </form>
    </div>    
    </div>
</div>