<div class="col-sm-6">
    <div id="tb-testimonial" ng-class="myStyle" >
        <div class="testimonial-section">
        <div ng-if="forVersion">CurrentVersion :</div>
            {{comment.versions[0].title}}
            <br>
            {{comment.versions[0].idea}}
            <br><br>
            <reference info="reference" ng-repeat = "reference in comment.versions[0].link"></reference>
    	</div>
        <div class="testimonial-desc">
            <!--img src="https://placeholdit.imgix.net/~text?txtsize=9&txt=100%C3%97100&w=100&h=100" alt="" /-->
            <div class="testimonial-writer">
            	<a ui-sref="human({id:comment.creator._id})"><div class="testimonial-writer-name">{{comment.creator.name}}</div></a>
            	<a href="#" class="testimonial-writer-company">Touch Base Inc</a>
            </div>
        </div>
    </div>

    <div ng-if="currentUser === comment.creator._id">
    <label class="btn btn-primary btn-circle btn-xs pull-right" ng-click="removeComment({newVal: comment._id, someVal:category})" style="margin-left:10px"><i class="glyphicon glyphicon-remove"></i></label>
    </div>
    <button class="btn btn-xs btn-primary pull-right" ng-click="_hitComment()" style="margin-left:10px"><div ng-if="!alreadyHit.alreadyHit"><i class="glyphicon glyphicon-hand-up"> {{comment.hit.length}}</i></div>
    <div ng-if="alreadyHit.alreadyHit"><i class="glyphicon glyphicon-hand-up"> {{comment.hit.length}} 취소</i></div>
    </button>
    <label class="btn btn-xs btn-primary pull-right" style="margin-left:10px" ng-click = "controllView({newVal : category})"><i class="glyphicon glyphicon-sort"></i></label>
    <label class="btn btn-primary btn-xs pull-right" style="margin-left:10px" ng-click="controllViewOfVersions()"><i class="glyphicon glyphicon-sort-by-attributes"></i></label>
    <label class="btn btn-xs btn-primary pull-right" ui-sref="updatecomment({id:comment._id})"><i class="glyphicon glyphicon-pencil"></i></label>


</div>

<div ng-if="viewcommentversions">
<h4>Versions!</h4>
<commentversion info="version" ng-repeat="version in comment.versions" my-style="myStyle" controll-view="controllViewOfVersions()"></commentversion>
</div>