<div class="col-sm-6">
    <div id="tb-testimonial" ng-class="myStyle" >
        <div class="testimonial-section">
            {{comment.title}}
            <br>
            {{comment.idea}}
            <br><br>
            <reference info="reference" ng-repeat = "reference in comment.link"></reference>
    	</div>
        <div class="testimonial-desc">
            <img src="https://placeholdit.imgix.net/~text?txtsize=9&txt=100%C3%97100&w=100&h=100" alt="" />
            <div class="testimonial-writer">
            	<div class="testimonial-writer-name">{{comment.creator.name}}</div>
            	<a href="#" class="testimonial-writer-company">Touch Base Inc</a>
            </div>
        </div>
    </div>

    <button class="btn btn-xs btn-primary pull-right" ng-click="hitCard()" style="margin-left:10px"><i class="glyphicon glyphicon-hand-up"> {{comment.hit}}</i></button>
    <label class="btn btn-xs btn-primary pull-right" style="margin-left:10px" ng-click = "controllView({newVal : category})"><i class="glyphicon glyphicon-sort"></i></label>
    <label class="btn btn-primary btn-xs pull-right" style="margin-left:10px" ng-click="controllViewOfVersions()"><i class="glyphicon glyphicon-sort-by-attributes"></i></label>
    <label class="btn btn-xs btn-primary pull-right" ui-sref="updatecomment({id:comment._id})"><i class="glyphicon glyphicon-pencil"></i></label>

</div>

<div ng-if="viewcommentversions">
<h4>Versions!</h4>
<commentversion info="version" ng-repeat="version in comment.versions" my-style="myStyle" controll-view="controllViewOfVersions()"></commentversion>
</div>